<div class="wrapper">
  <div class="header-outer">
    <div class="container">
      <div class="row">
        <div class="header-inner">
          <div class="logo">
            <a routerLink="/home"><p><img class="logo-icon" src="../assets/img/blood-drop.png" />IBM Sanjeevini</p></a>
          </div>
          <div class="header-right">
            <p>Welcome Vinayak <span>|</span></p>
            <a href="#"><p>Sign Out</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="footer-outer">
    <div class="container">
      <div class="row">
        <div class="footer-inner">
          <p>&copy; Copyrights IBM India 2020</p>
        </div>
      </div>
    </div>
  </div>
</div>

